$font-heading: 'Biolilbert', sans-serif;
$font-body: 'Mulish', sans-serif;

$global-font-size: 18px;
$global-font-size-mobile: 16px;

$font-size-xxl: 2.4rem; //44px
$font-size-xl: 2rem; // 36px
$font-size-l: 1.6rem; // 28px
$font-size-m: 1.4rem; // 26px
$font-size-s: 1.1rem; // 20px
$font-size-xs: 18px; // body font-size
$font-size-xxs: 16px;
$font-size-footnotes: 14px;

$line-height-xxl: calc(52 / 44);
$line-height-xl: calc(40 / 36);
$line-height-l: calc(32 / 28);
$line-height-m: calc(32 / 26);
$line-height-s: calc(28 / 20);
$line-height-xs: calc(22 / 18);
$line-height-xxs: calc(24 / 16);
$line-height-footnotes: calc(20 / 14);
