@use 'font-variables' as vars;
@use 'color-variables' as colors;

html {
  font-family: vars.$font-body;     

  @media screen and (min-width: 768px) {
    font-size: vars.$global-font-size;
    line-height: vars.$line-height-xs;  
  }  

  @media screen and (max-width: 767px) {
    font-size: vars.$global-font-size-mobile;
    line-height: vars.$line-height-xxs;  
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  font-family: vars.$font-heading;
  color: colors.$color-primary;
  font-weight: 400;
}

h1,
.h1 {
  @media screen and (min-width: 768px) {
    font-size: vars.$font-size-xxl;
    line-height: vars.$line-height-xxl;
  }

  @media screen and (max-width: 767px) {
    font-size: 1.8rem;
  }
}

h2,
.h2 {
  font-size: vars.$font-size-xl;
  line-height: vars.$line-height-xl;

   @media screen and (max-width: 767px) {
    font-size: 1.6rem;
  }
}

h3,
.h3 {
  font-size: vars.$font-size-l;
  line-height: vars.$line-height-l;
}

h4,
.h4 {
  font-size: vars.$font-size-s;
  line-height: vars.$line-height-s;
}
