@import 'color-variables';
@import 'font-variables';

// Переменные, не относящиеся к шрифтам или цветам
$trans-300: 0.3s ease;

@mixin error-text-color {
  color: $color-error;
}

@mixin error-border-color {
  border-color: $color-error;
}

@mixin error-form-style {
  margin: 5px 0;
  padding: 0;
  
  font-size: $font-size-footnotes;
  line-height: $line-height-footnotes;
  font-weight: 300;
  color: $color-error;
}