.section {
  margin-top: 148px;
}

.title {
  font-weight: 400;
  line-height: 52px;
  font-size: 44px;
  font-family: Biolilbert;
  margin: 0 0 15px 0;
}

.text {
  font-weight: 300;
  line-height: 28px;
  font-size: 18px;
  font-family: Mulish;
  margin: 0;
}

.search_container {
  margin: 45px 0 0 0;
  display: flex;
  gap: 35px;
  align-items: center;
}

.search_btn {
  width: 233px;
  padding: 12px 28px;
  background-color: #f1b823;
  border-radius: 12px;
  color: #fff;
  border: none;
  font-family: Mulish;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  cursor: pointer;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.8;
  }
}
