.header {
  max-width: 1440px;
  width: 100%;
  box-sizing: border-box;
  padding: 44px 72px;
  display: flex;
  align-items: center;
  background: #ffffff;
  position: fixed;
  top: 0;
}

.logo_link {
  height: 38px;
  margin-right: 202px;
}
