.button {
  box-sizing: border-box;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Mulish', sans-serif;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reverse {
  flex-direction: row-reverse;
}

.hidden {
  display: none;
}

.view-primary {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  background: #f1b823;
  gap: 8px;
  padding: 13px 0;
  border-radius: 12px;

  &:hover {
    background: #f4a100;
  }

  &:active {
    background: #f49300;
  }

  &:disabled,
  &[disabled] {
    color: #909090;
    background: #E5E4E4;
    cursor: default;
  }
}

.view-secondary {
  font-size: 18px;
  line-height: 24px;
  color: #232323;
  background: #FFFFFF;
  border: 1px solid #F1B823;
  gap: 8px;
  padding: 12px 0;
  border-radius: 12px;

  &:hover {
    background: #FFFAF0;
  }

  &:active {
    background: #FDF1D4;
  }

  &:disabled,
  &[disabled] {
    color: #909090;
    background: #F6F6F6;
    border-color: #E5E4E4;
    cursor: default;
  }
}

.view-tertiary {
  font-size: 16px;
  line-height: 24px;
  color: #232323;
  background: #FFFFFF;
  border: 1px solid #909090;
  gap: 6px;
  padding: 8px 0;
  border-radius: 8px;

  &:hover {
    background-color: #f6f6f6;
  }

  &:active {
    background-color: #E5E4E4;
  }

  &:disabled,
  &[disabled] {
    color: #909090;
    background-color: #f6f6f6;
    border-color: #E5E4E4;
    cursor: default;
  }
}

.view-cross {
  background-image: url('images/close_btn.svg');
  opacity: 0.6;
  transition: opacity 0.6s;

  &:hover {
    opacity: 1;
  }
}

img {
  width: 20px;
  height: 20px;
}
