@use 'src/styles/variables' as vars;

.dropdownSearch {
  position: relative;

  &_type_ingredient {
    grid-area: name;
  }
}

.options {
  display: none;
  overflow-y: scroll;
  position: absolute;
  z-index: 5;
  box-sizing: border-box;
  width: 100%;
  padding: 8px 0;
  background: vars.$bg-primary;
  border-radius: 8px;
  box-shadow: 0px 4px 12px 5px rgba(1, 7, 62, 0.08);
  max-height: 216px;
}

.visible {
  display: block;
}

.listItem {
  padding: 0;
  display: flex;
}

.option {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 16px;
  border-radius: 8px;
  background: vars.$bg-primary;
  font-family: vars.$font-body;
  font-style: normal;
  font-weight: 300;
  font-size: vars.$font-size-xxs;
  line-height: 1.5;
  color: vars.$color-primary;

  &:hover,
  &:focus,
  &_active {
    outline: none;
    background: vars.$btn-bg-secondary-hover;
    border-radius: 0;
  }

  &_notfound {
    cursor: default;

    &:hover {
      background: vars.$bg-primary;
    }
  }
}
