@use 'styles/color-variables' as colors;
@use 'styles/font-variables' as fonts;


$image-max-width: 256px;

.step,
.stepWithImage {
  margin-bottom: 2.5rem;
}

.stepWithImage {  
  @media screen and (min-width: 761px) {
    display: grid;
    grid-template-columns: $image-max-width auto;
    gap: 2.19rem;
  }

  @media screen and (max-width: 760px) {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
  }
}

.descriptionWrapper {
  display: flex;  
  align-items: flex-start;
  gap: 1rem;

  @media screen and (min-width: 761px) {
    flex-direction: column;
  }
}

.image {
  width: 100%;
  max-width: $image-max-width;
  height: auto;
  border-radius: 16px;
  aspect-ratio: 4/3;

  @media screen and (max-width: 760px) {
    margin: 0 auto;
  }
}

.number {
  display: inline-block;
  border-radius: 10px;
  background-color: colors.$step-bg;
  padding: 0.5rem 0.88rem;
  font-weight: 600;
  font-size: fonts.$font-size-s;
  line-height: fonts.$line-height-s;
  color: colors.$step-number-color;
}

.description {
  font-weight: 300;
  margin: 0;
}
