.header {
  max-width: 1440px;
  width: 100%;
  box-sizing: border-box;
  padding: 21px 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  position: fixed;
  top: 0;
}
