.content {
  margin-top: 80px;
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.container {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
}

.title {
  margin: 0;
}
