.container {
  @media screen and (min-width: 1036px) {
    grid-template-columns: 300px auto;
    gap: 4rem;
  }

  @media screen and (min-width: 801px) and (max-width: 1035px) {    
    grid-template-columns: 230px auto;
    gap: 2rem;
  }

   @media screen and (min-width: 801px) {
    display: grid;
   }
}
