.content {
  box-sizing: border-box;
}

.textContainer {
  margin-top: 20px;
}

.text {
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  margin: 0;
}

.ingredientsContainer {
  box-sizing: border-box;
  margin-top: 28px;
  margin-bottom: 28px;
}

.icon {
  width: 16px;
  height: 16px;
}

// @media screen and (max-width: 576px) {
//   .title {
//     font-size: 28px;
//     line-height: 32px;
//     width: 293px;
//     margin-top: 36px;
//     margin-left: 16px;
//   }
// }