.menu {
  box-sizing: border-box;
  background-color: white;
}

.container {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonClose {
  margin: 0;
  padding: 0;
  width: 22px;
  height: 22px;
  border: black;
  align-self: flex-end;
  display: none;

  &_visible {
    display: block;
  }
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 72px;

  &__item {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;

    &_type_header {
      font-weight: 500;
    }
  }

  &__link {
    color: #232323;
    text-decoration: none;
    border-bottom: none;
  }
}

.nav {
  display: flex;
  gap: 32px;
}

.input {
  display: none;
  box-sizing: border-box;
  background: url('../../../images/header_search.svg') center right 16px
    no-repeat;
  width: 312px;
  height: 48px;
  border: 1px solid #dbdbdb;
  border-radius: 8px;
  padding: 12px 16px;
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  color: #232323;
  margin: 0;

  &_visible {
    display: inline-block;
  }

  &::placeholder {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    color: #818181;
  }

  &:hover {
    border: 1px solid #818181;
  }

  &:focus {
    outline: none;
    border: 1px solid #818181;
  }

  &::-ms-clear {
    display: none;
    width: 0;
    height: 0;
  }

  &::-webkit-search-decoration {
    display: none;
  }

  &::-webkit-search-cancel-button {
    display: none;
  }

  &::-webkit-search-results-button {
    display: none;
  }

  &::-webkit-search-results-decoration {
    display: none;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}

@media screen and (max-width: 576px) {
  .menu {
    &_type_header {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 10;
      visibility: hidden;
      opacity: 0;
    }

    &_visible {
      visibility: visible;
      opacity: 1;
    }
  }

  .container {
    flex-direction: column;

    &_type_header {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 13px;
    }
  }

  .nav {
    gap: 0;
    max-width: 576px;
    margin: 0;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &_type_header {
      height: 100vh;
    }
  }

  .list {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }
}
