.footer {
  max-width: 1440px;
  width: 100%;
  box-sizing: border-box;
  margin-top: auto;
  padding: 20px 72px 16px 72px;
  background: #fff;
}

.logo {
  display: block;
  height: 38px;  
  margin-bottom: 68px;
}

.links {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright, .agreement {
  margin: 0;
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
}

.agreement {
  color: #232323;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.copyright {
  color: #909090;
}

@media screen and (max-width: 690px) {
  .footer {    
    max-width: 576px;
    padding: 16px 16px 20px 16px;
  }

  .links {
    flex-direction: column;
    align-items: start;
    gap: 12px;
  }

  .logo {    
    margin-bottom: 30px;    
  }  
}
