.footer {
  max-width: 1440px;
  width: 100%;
  box-sizing: border-box;
  margin-top: auto;
  padding: 20px 72px 16px 72px;
  background: #fff;
}

.container {
  display: flex;
  align-items: center;
  gap: 196px;
  margin-bottom: 68px;
}

.logoLink {
  height: 38px;
}

.list {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0 0 12px 0;

  &__item {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 20px;
    padding: 0 16px;
    border-left: 1px solid #818181;

    &:first-of-type {
      padding-left: 0;
      border-left: none;
    }
  }

  &__link {
    text-decoration: none;
    color: #232323;
  }
}

.text {
  margin: 0;
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  color: #818181;
}

@media screen and (max-width: 576px) {
  .footer {
    max-width: 576px;
    padding: 16px 16px 20px 16px;
  }

  .logoLink {
    height: 24px;
  }

  .container {
    flex-direction: column;
    align-items: flex-start;
    gap: 36px;
    margin-bottom: 48px;
  }

  .list {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    margin-bottom: 32px;

    &__item {
      padding: 0;
      border: none;
    }
  }
}