@use 'styles/variables' as vars;

.title {
  margin-top: 0;
  padding: 8px 0 0;
}

.recipeList {
  margin: 0 0 3.3rem;
  padding: 0;
  list-style: none;
  gap: 2rem;

  @media only screen and (min-width: 1231px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media only screen and (max-width: 1230px) {
    display: flex;
    flex-direction: column;
  }
}
