@use 'styles/variables' as vars;

.title {
  margin-top: 0;
  padding: 8px 0 0;
  font-family: vars.$font-heading;
  font-size: vars.$font-size-xl;
  font-style: normal;
  font-weight: 400;
  line-height: vars.$line-height-xl;
  color: vars.$color-primary;
}

.recipeList {
  margin-top: 41px;
  margin-bottom: 60px;
  padding: 0;
  list-style: none;
  gap: 35px;

  @media only screen and (min-width: 1231px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media only screen and (max-width: 1230px) {
    display: flex;
    flex-direction: column;
  }
}
