@use 'src/styles/variables' as vars;

.legal {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 36px auto;
  max-width: 640px;

  &__title {
    margin: 0;
    font-family: vars.$font-heading;
    font-size: vars.$font-size-l;
    line-height: vars.$line-height-l;
    font-weight: 400;
    color: vars.$color-primary;
  }

  &__email {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 4px;
    width: 60%;
    font-family: vars.$font-body;
    font-size: 12px;
    line-height: 1.67;
    font-weight: 300;
    color: vars.$color-primary;
  }

  &__input {
    padding: 8px 16px;
    width: 100%;
    height: 40px;
    font-family: vars.$font-body;
    font-weight: 300;
    font-size: vars.$font-size-xxs;
    line-height: 24px;
    color: vars.$color-primary;
    border: 1px solid #dbdbdb;
    border-radius: 8px;
    box-sizing: border-box;

    &:hover {
      border-color: #818181;
    }

    &:active,
    &:focus {
      outline: none;
    }

    &_hide {
      display: none;

      &:checked {
        & + .legal__checkbox {
          background-color: vars.$btn-bg-primary;
          background-image: url('assets/images/checked-icon.svg');
          background-size: contain;
          background-position: center center;
          background-repeat: no-repeat;
          border-color: vars.$btn-bg-primary;
        }
      }

      &:disabled {
        & + .legal__checkbox {
          background-color: #f7f7f7;
          border-color: #dbdbdb;
          cursor: default;
        }
      }
    }
  }

  &__input_error {
    border: 1px solid red;
    color: red;
    &:hover {
      border-color: red;
    }
  }

  &__agreement {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: vars.$font-body;
    font-size: vars.$font-size-xxs;
    font-weight: 300;
    line-height: 24px;

    &:has(.legal__input_hide:disabled) {
      color: #818181;
    }
  }

  &__checkbox {
    width: 16px;
    height: 16px;
    border: 2px solid #dbdbdb;
    border-radius: 4px;
    transition: all 0.6s;
    cursor: pointer;

    &:hover {
      border-color: vars.$btn-bg-primary;
    }

    &_error {
      background-color: #ffd6d3;
      border-color: red;
    }
  }
}

@media screen and (max-width: 576px) {
  .legal {
    max-width: 546px;
  }
}

.error {
  font-family: vars.$font-body;
  width: 100%;
  margin: 0;
  color: red;
  font-size: 10px;
}
