.dropdownMenu {
  position: relative;

  &_type_measure-unit {
    grid-area: measureUnits;
  }

  &__options {
    display: none;
    overflow-y: scroll;
    position: absolute;
    z-index: 5;
    box-sizing: border-box;
    width: 100%;
    padding: 8px 0;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 12px 5px rgba(1, 7, 62, 0.08);
    max-height: 340px;

    &_visible {
      display: block;
    }
  }
}

.input {
  box-sizing: border-box;
  width: 144px;
  height: 40px;
  border: 1px solid #DBDBDB;
  border-radius: 8px;
  padding: 8px 16px;
  margin: 0;
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #232323;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

@media screen and (max-width: 576px) {
  .input {
    width: 144px;
  }

  .dropdownMenu {
    &__options {
      max-height: 176px;
    }
  }
}