@use 'styles/variables' as vars;

.section {
  margin-bottom: 53px;
  width: 100%;
  max-width: 1301px;
}

.title {
  margin: 0 0 15px 0;
}

.text {
  font-weight: 300;  
  margin: 0;
}

.сontainer {
  width: 100%;  
  display: grid;
  gap: 1rem 2rem;
  align-items: center;
  margin: 45px 0 0 0;

  @media screen and (min-width: 768px) {    
    grid-template-columns: auto 240px;
  } 
}

.searchBtn {
   @media screen and (max-width: 767px) {
    order: 3;
  }
}
