@use 'src/styles/variables' as vars;

.container {
  font-family: vars.$font-body;
  background: #f7f7f7;
  border: 1px solid #dbdbdb;
  box-shadow: 0px 2px 10px 1px rgba(1, 7, 62, 0.08);
  border-radius: 8px;
  display: flex;
  width: 352px;
  min-height: 56px;
  display: flex;
  position: relative;
  z-index: 3;
}

.text {
  font-family: vars.$font-body;
  font-style: normal;
  font-weight: 500;
  font-size: vars.$font-size-xxs;
  line-height: vars.$line-height-xxs;
  color: #333333;
  margin: 16px;
  max-width: 288px;
}

.close {
  position: absolute;
  top: 16px;
  right: 16px;
}

@media screen and (min-width: 577px) {
  .container {
    bottom: 32px;
    left: 32px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    width: calc(100% - 32px);
    margin: 0 auto;
    min-height: 44px;
    bottom: 20px;
    margin-left: 16px;
  }

  .text {
    font-size: 12px;
    line-height: 20px;
    margin: 12px;
  }

  .close {
    top: 12px;
    right: 12px;
  }
}
