@use 'styles/variables' as vars;

progressWrap {
  max-width: 300px;
  cursor: pointer;
}

.progress { 
  position: relative;
}

.list {
  margin: 0;
  list-style: none;


  @media screen and (min-width: 801px) {
    &::before {
      border-left: solid 2px vars.$li-dot-color;
      position: absolute;
      content: '';
      top:16%;
      left: 10px;
      bottom: 16%;
    }
  }

  @media screen and (max-width: 800px) {
    display: flex;
    gap: 2rem;
    padding-left: 1.4rem;

    &::before {
      border-top: solid 2px #f1b823;
      position: absolute;
      content: "";
      top: 12px;
      left: 0;
      right: 0;
    }
  }
}

.item {
  display: flex;
  gap: 28px;
  align-items: center;
  margin: 0;  
  color: #818181;  

  &::before {
    content: '';
    position: absolute;    
    border-radius: 50%;
    border: solid 2px vars.$step-bg;
    background-color: vars.$bg-primary;    
  }

   @media screen and (min-width: 801px) {
    font-size: vars.$font-size-s;
    line-height: vars.$line-height-s;
    padding: 0 0 .8rem;

    &::before {
      left: 0;
      width: 20px;
      height: 20px;
    }
   }

  @media screen and (max-width: 800px) {
    font-size: vars.$font-size-xxs;
    line-height: vars.$line-height-xxs;
    background-color: #fff;
    z-index: 2;
    padding: 0 .5rem;
    position: relative;

    &::before {
      left: -1.4rem;
      width: 10px;
      height: 10px;
    }
  }
  

  &:hover {
    color: vars.$color-primary;
    cursor: pointer;
  }  

  &.active {    
    color: vars.$color-primary;

    &::before {
      background-color: vars.$li-dot-color;
    }
  }

  &_error {
    .text {
      color: #d14941;
    }
  }

  &_active_with_error {
    .text {
      background-color: #ffd6d3;
    }
  }
}
