.catalogTitle{
  font-family: "Biolilbert", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; 
  color: #232323;
}
.container{
  // margin-top: 41px;
  // width: 100%;
  // max-width: 1440px;
  // display: flex;
  // flex-direction: row;
  // justify-content: center;
  // align-items: center;
  // flex-wrap: wrap;
  // gap: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(633px, 1fr));
  gap: 35px;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
}

