@use 'styles/variables' as vars;

header {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  max-width: 1440px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background-color: vars.$bg-primary;
  
  @media screen and (min-width: 768px) {
    padding: 2.4rem 4rem;
  }

  @media screen and (max-width: 767px) {
    padding: 1.9rem 1.5rem 1.5rem;
  }
}

.logo_link {
  height: 38px;
}
