@use 'src/styles/variables' as vars;

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 72px;
}

.item {
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

.link {
  color: vars.$color-primary;
  text-decoration: none;
  border-bottom: none;
}
