.photo {
  border-radius: 12px;
  flex-grow: 1;

  div {
    width: 100%;
    height: 100%;
  }

  &__input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    width: 100%;
    height: 100%;
    min-width: 160px;
    font-family: 'Mulish';
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    color: #818181;
    background-color: #F6F6F6;
    box-sizing: border-box;
    border-radius: 12px;
    transition: border .8s;
    cursor: pointer;

    &:hover,
    &_on-focus {
      border: 1px solid #DBDBDB;
    }

    &_error {
      border: 1px solid #D14941;
    }

    &_hidden {
      display: none;
      flex-grow: 0;
    }
  }
}

.preview {
  display: none;
  margin: 0 auto;

  &_visible {
    display: block;
    flex-grow: 1;
  }

  &__container {
    position: relative;
    min-width: 132px;
    height: 132px;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }

  &__remove {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background-color: transparent;
    background-image: url('../../images/remove-img.svg');
    border: none;
    opacity: .6;
    transition: opacity .6s;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}