@use 'src/styles/font-variables' as font;
@use 'src/styles/color-variables' as colors;

.ingredientsWrapper {
  max-width: 39rem;
}

.title {
  margin-bottom: 2.6rem;
}

.inrgedients {
  list-style: none;
  padding: 0;
}

.ingredient {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: .9rem;
  font-family: font.$font-body;
  font-size: font.$font-size-xs;
  line-height: font.$line-height-xs;
  margin-bottom: 1.4rem;
}

.line {
  flex-grow: 1;
  align-self: end;
  border-bottom: solid 1px colors.$input-border-color;
  margin-bottom: .31rem;
}

.volume {
  white-space: nowrap;
}