.container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0;
  max-width: 1033px;
}

.item {
  background-color: #e9f9e2;
  border-radius: 16px;
  padding: 9px 20px 9px 14px;
  display: flex;
  gap: 12px;
  font-size: 16px;
  font-family: Mulish;
  font-weight: 300;
  line-height: 24px;
}

.remove_btn {
  border: none;
  background-color: inherit;

  &_all {
    @extend .remove_btn;
    display: flex;
    gap: 6px;
    align-items: center;
    cursor: pointer;

    & p {
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: 20px;
    }
  }
}
