@use 'styles/variables' as vars;

// Переписать стили этого компонента с использованием общих переменных

%mulish-16-500 {
  font-family: 'Mulish';  
  font-weight: 500;
  margin: 0 0 1rem;
  padding: 0;
}

%mulish-16-300 {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

%mulish-12-300 {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

%mulish-12-500 {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

// input::-webkit-outer-spin-button,
// input::-webkit-inner-spin-button {
//   display: none;
// }

.mainInfo {
  display: flex;
  flex-direction: column;
  gap: 33px;
}

.wrap {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;  
  background: #ffffff;
  border: 1px solid #dbdbdb;
  border-radius: 8px;
  margin-top: 12px;

  &:not(.wrapError):hover {
    border: 1px solid #818181;
  }

  &:not(.wrapError):focus {
    border: 1px solid #818181;
  }  
}



.title {
  @extend %mulish-16-500;
}

.error {
  @extend %mulish-12-300;
  color: red;
  position: absolute;
  margin: 5px 0;
}

.complexityWrap {
  display: flex;
  gap: 2rem 6rem;
}



.wrap_counter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border: 1px solid #dbdbdb;
  border-radius: 12px;
  height: 38px;
  width: 130px;
  margin-top: 12px;

  &_error {
    border: 1px solid red;
    color: red;
  }
}

.button {
  background-color: transparent;
  border: none;
  width: 16px;
  height: 16px;
  margin: 0;
  padding: 0 16px;

  &:hover {
    cursor: pointer;
  }

  &_primary {
    width: 148px;
  }
}

.buttonPlus {
  background-image: url('assets/images/plusButton.svg');
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;

  &:hover {
    background-image: url('assets/images/plusButton-active.svg');
  }

  &:disabled,
  &:disabled:hover {
    background-image: url('assets/images/minusButton-disabled.png');
    cursor: auto;
  }
}

.buttonMinus {
  background-image: url('assets/images/minusButton.png');
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;

  &:hover {
    background-image: url('assets/images/minusButton-active.svg');
  }

  &:disabled,
  &:disabled:hover {
    background-image: url('assets/images/minusButton-disabled.png');
    cursor: auto;
  }
}

.portion {
  @extend %mulish-16-500;
  text-align: center;
  color: #818181;
  margin: 0 20px;
  border: none;
  width: 25px;

  &:focus {
    border: none;
  }

  &:focus-visible {
    outline: 0;
  }

  &:focus::placeholder {
    color: transparent;
  }

  &_error {
    color: red;
    opacity: 0.6;
  }
}

.portion_active {
  color: vars.$color-primary;
}

.wrap_count {
  display: flex;
}

.wrap_totalTime {
  margin-right: 30px;
}

.wrap_cookTime {
  margin-left: 5px;
}

.cookTimeWrap {
  display: flex;
  gap: 2rem 5rem;
  flex-wrap: wrap;
}

.totalTime,
.cookTime {
  @extend %mulish-16-500;
  color: vars.$color-primary;
  margin-top: 16px;
  margin-bottom: 12px;
}

.label {
  @extend %mulish-16-300;
  color: vars.$color-primary;
  margin-right: 20px;
}








.desc__counter {
  position: relative;
  right: 0px;
  top: 0px;

  &_error {
    color: red;
  }
}

.fotoReqs {
  @extend %mulish-12-500;
  color: vars.$color-primary;
}

.reqlist {
  margin: 0;
  padding: 0;
  margin-left: 10px;
  list-style-image: url('assets/images/list-marker.svg');
}

.reqlist_item {
  @extend %mulish-12-300;
  color: vars.$color-primary;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 5px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.reqlist_accent {
  font-weight: bold;
}



.controls {
  display: flex;
  justify-content: flex-end;
}


.wrapError, .inputError {
  border: 1px solid red;
  color: red;
}