.stars {
  display: flex;
  align-items: center;
  gap: 10px;
}

.active {
  fill: #F1B823;
}

.label {
  font-family: 'Mulish';
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  color: #909090;
}