$bg-primary: #ffffff;

$color-primary: #232323;
$color-secondary: #909090;

$btn-bg-primary: #f1b823;
$btn-bg-primary-hover: #f4a100;
$btn-bg-primary-active: #f49300;

$btn-bg-secondary-hover: #fffaf0;
$btn-bg-secondary-disabled: #f6f6f6;

$input-border-color: #e5e4e4;

:export {
  $bg-primary: $bg-primary;
  $color-primary: $color-primary;
  $color-secondary: $color-secondary;
  $btn-bg-primary: $btn-bg-primary;
  $btn-bg-primary-hover: $btn-bg-primary-hover;
  $btn-bg-primary-active: $btn-bg-primary-active;
  $btn-bg-secondary-hover: $btn-bg-secondary-hover;
  $btn-bg-secondary-disabled: $btn-bg-secondary-disabled;
  $input-border-color: $input-border-color;
}
