$bg-primary: #ffffff;

$color-primary: #232323;
$color-secondary: #909090;

$input-border-color: #e5e4e4;

$chips-bg-color: #e9f9e2;
$btn-chips-cross: #2c7429;

// Переменные кнопок
$btn-bg-primary: #f1b823;
$btn-color-primary: #ffffff;
$btn-bg-primary-hover: #f4a100;
$btn-bg-primary-active: #f49300;
$btn-bg-primary-disabled: #e5e4e4;

$btn-border-secondary: #f1b823;
$btn-bg-secondary-hover: #fffaf0;
$btn-bg-secondary-active: #fdf1d4;
$btn-bg-secondary-disabled: #f6f6f6;
$btn-border-secondary-disabled: #e5e4e4;

$btn-border-tertiary: #909090;
$btn-bg-tertiary-hover: #f6f6f6;
$btn-bg-tertiary-active: #e5e4e4;
$btn-bg-tertiary-disabled: #f6f6f6;
$btn-border-tertiary-disabled: #e5e4e4;
