$font-heading: 'Biolilbert', sans-serif;
$font-body: 'Mulish', sans-serif;

$font-size-xxl: 44px;
$font-size-xl: 36px;
$font-size-l: 28px;
$font-size-m: 26px;
$font-size-s: 20px;
$font-size-xs: 18px;
$font-size-xxs: 16px;
$font-size-footnotes: 14px;