$font-heading: 'Biolilbert', sans-serif;
$font-body: 'Mulish', sans-serif;

$font-size-xxl: 44px;
$font-size-xl: 36px;
$font-size-l: 28px;
$font-size-m: 26px;
$font-size-s: 20px;
$font-size-xs: 18px;
$font-size-xxs: 16px;
$font-size-footnotes: 14px;

$line-height-xxl: calc(52 / 44);
$line-height-xl: calc(40 / 36);
$line-height-l: calc(32 / 28);
$line-height-m: calc(32 / 26);
$line-height-s: calc(28 / 20);
$line-height-xs: calc(22 / 18);
$line-height-xxs: calc(24 / 16);
$line-height-footnotes: calc(20 / 14);