$font-header: 'Biolilbert', sans-serif;
$font-body: 'Mulish', sans-serif;

.additionalInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;
  gap: 28px;

  max-width: 574px;
  min-height: 450px;

  // border: 1px solid #DBDBDB;
  // border-radius: 20px;

  color: #232323;

  &__header {
    margin: 0;
    font-family: $font-header;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.14;
  }

  &__comment {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    max-width: 568px;
  }

  &__textArea {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 12px 16px;

    max-width: 536px;
    height: 136px;
    border: 1px solid #dbdbdb;
    border-radius: 8px;
  }

  &__textAreaText {
    max-width: 536px;
    height: 112px;
    resize: none;
    border: none;
    font-family: $font-body;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 20px;
    width: 100%;
  }

  &__textAreaCounter {
    width: 53px;
    height: 24px;
    font-weight: 300;
    font-size: 12px;
    line-height: 1.67;
    color: #818181;
    text-align: right;
  }
}

.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
  font-family: $font-body;
  font-style: normal;
  max-width: 560px;
  width: 100%;

  &__subtitle {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
  }

  &__text {
    margin: 0;
    font-weight: 300;
    font-size: 12px;
    line-height: 1.67;
  }

  &__input {
    height: 40px;
    padding: 8px 16px;
    border: 1px solid #dbdbdb;
    border-radius: 8px;
    box-sizing: border-box;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .additionalInfo {
    gap: 24px;
    border: none;

    &__header {
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
    }

    &__comment {
      gap: 12px;
    }
  }

  .description {
    gap: 8px;

    &__subtitle {
      font-weight: 700;
      font-size: 12px;
      line-height: 1.67;
    }
  }
}

.controls {
  display: flex;
  justify-content: space-between;
}
