.container {
  box-sizing: border-box;
  display: flex;
  gap: 12px;
}

.container_hidden {
  display: none;
}

.input {
  box-sizing: border-box;
  height: 40px;
  border: 1px solid #DBDBDB;
  border-radius: 8px;
  padding: 8px 16px;
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  color: #232323;
  margin: 0;

  &::placeholder {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    color: #818181;
  }

  &:hover {
    border: 1px solid #818181;
  }

  &:focus {
    outline: none;
    border: 1px solid #818181;
  }

  &_type_name {
    width: 304px;
  }

  &_type_quantity {
    text-align: center;
    width: 72px;
  }

  &_type_dropdown {
    width: 144px;
    font-weight: 500;
    color: #232323;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }

  &::-ms-clear {
    display: none;
    width: 0;
    height: 0;
  }

  &::-webkit-search-decoration {
    display: none;
  }

  &::-webkit-search-cancel-button {
    display: none;
  }

  &::-webkit-search-results-button {
    display: none;
  }

  &::-webkit-search-results-decoration {
    display: none;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}

.dropdownMenu {
  width: 144px;
  position: relative;

  &__options {
    display: none;
    max-height: 176px;
    overflow-y: scroll;
    position: absolute;
    z-index: 5;
    box-sizing: border-box;
    width: 144px;
    padding: 8px 0;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 12px 5px rgba(1, 7, 62, 0.08);

    &_visible {
      display: block;
    }
  }

  &__option {
    display: flex;
    height: 40px;
    cursor: pointer;
    padding: 0 16px;
    border-radius: 8px;
    align-items: center;
    background: #fff;
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    color: #232323;

    &:hover {
      background: #FFFAF0;
    }
  }
}
