@use 'styles/variables' as vars;

.dropzoneContainer {
  border-radius: 12px;
}
.dropzoneIcon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  padding: 2rem 0;

  font-weight: 700;
  color: vars.$color-secondary;
  background-color: vars.$bg-secondary;
  box-sizing: border-box;
  border-radius: 12px;
  transition: border 0.8s;
  cursor: pointer;
  border: 1px solid vars.$bg-secondary;

  &:hover,
  &_on-focus {
    border: 1px solid #dbdbdb;
  }

  

  &_hidden {
    display: none;
  }
}

.dropzoneError {
    border: 1px solid #d14941;
  }


