@use 'styles/variables' as vars;

.dropzoneContainer {
  width: 180px;
  aspect-ratio: 4 / 3; 
}

.dropzoneIcon {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  padding: 2rem 0;

  background-color: vars.$bg-secondary;
  border-radius: 12px;
  border: 1px solid vars.$bg-secondary;
  transition: border 0.8s;

  font-weight: 700;
  color: vars.$color-secondary; 
  
  cursor: pointer;

  &:not(.dropzoneError):hover {
    border-color: #dbdbdb;
  }

  &_hidden {
    display: none;
  }
}

.dropzoneError {
    border-width: 1px;
    border-style: solid;
    @include vars.error-border-color;
  }

.errorMessage {
  @include vars.error-form-style;
  text-align: center;
}
