@use 'styles/variables' as vars;

.ingredients {  
  box-sizing: border-box;  

  @media screen and (min-width: 577px) {
    width: 100%;
    margin-bottom: 3rem;
  }

  @media screen and (max-width: 576px) {  
    margin: 0 auto 3rem;
  }
}

.list {
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0; 

  @media screen and (max-width: 576px) {
    margin-bottom: 24px;  
  }
}

.ingredientItem {
  display: grid;
  grid-template-columns: auto 75px 144px 20px;
  gap: 1rem;
  margin-bottom: 1.1rem;
}

.controls {
  display: flex;
  gap: 2rem;
  justify-content: right;
}
