@use 'src/styles/variables' as vars;

.dropdownItem {
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 16px;
  border-radius: 8px;
  background: vars.$bg-primary;
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  color: vars.$color-primary;

  &:hover,
  &:focus,
  &_active {
    outline: none;
    background: #fffaf0;
    border-radius: 0;
  }
}

.listItem {
  padding: 0;
  display: flex;
}
